@use '../utils/mixins';

.content{
    flex-basis: 0 !important;
}

#header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    box-sizing: border-box;
    @include mixins.ipad{
        padding: 20px;
    }
    img{
        @include mixins.ipad{
            width: 145px;
        }
    }
    nav{
        display: flex;
        gap: 50px;
        @include mixins.mobile{
            gap: 10px;
        }
        .navbar_item{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: #FF6060;
            text-decoration: none;
            @include mixins.ipad{
                font-size: 18px;
            }
            @include mixins.mobile{
                font-size: 12px;
            }
            &:hover{
                text-decoration: underline;
            }
            &_active{
                text-decoration: underline;
            }
        }
    }
}