@use 'utils/mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  #root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .content{
    max-width: 1240px;
    width: 100%;
    height: 100%;
    flex-basis: 100%;
    flex-grow: 100;
    box-sizing: border-box;
    padding: 0px 20px;
  }
  h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
    padding: 10px;
    @include mixins.ipad{
      font-size: 24px;
    }
  }

  *{
    font-family: 'Montserrat', sans-serif;
  }

